@charset "UTF-8";

/* 구글아이콘 (google font */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


/* 구름 산스 코드 */
@font-face {
  font-family: 'goorm-sans-code';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-code.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* -----------------------------시작---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'goorm-sans-code';
  /* outline: 1px solid navy; */
}

/* 부트스트랩때문에 생기는 자동 마진 초기화 시키기 */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  /* 320px 이하로 줄어들었을때 레이아웃 유지시키기 */
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: fixed;
  /* top: 0;
        left: 0; */
  z-index: 2;
  height: 300px;
}
header .inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  padding: 30px 210px;
}
header .inner .txtBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
header .inner .txtBox .txt-a, .txt-b {
  display: flex;
  background: #ffffff;
  opacity: 95%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}
header .inner .txtBox .txt-a {
  width: 110px;
  padding: 5px;
}
header .inner .txtBox .txt-b {
  gap: 40px;
  padding: 12px 0 12px 25px;
}
.inner .txtBox .txt-b img {
  position: absolute;
  right: 120px;
  top: 0px;
  width: 200px;
}
header .inner .txtBox a {
  color: #787878;
}
.logo h1 {
  overflow: hidden;
  text-indent: -9000px;
}


/* SEC01 */
.sec01 {
  display: flex;
  width: 100%;
  padding: 2% 0%;
  align-items: center;
  justify-content: center;
}
.sec01 .inner {
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 900px;
  /* align-items: center; */
  justify-content: center;
  /* background: url(/hellokitty/image/main/sec01.png) #FEF6FF 0px 0px / 100% 100% no-repeat; */
}
.sec01 .inner .mySwiper .swiper-wrapper img {
  width: 755px;
  /* height: 900px; */
}
.swiper-backface-hidden .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #d50000;
}
.swiper-pagination-bullet-active {
  background: #d50000;
}
.swiper-pagination-bullet {
  background: #747474;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -5px;
}



/* SEC02 */
.sec02 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff8f8;
}
.sec02 .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.sec02 .container .txtBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #747474;
  font-size: 25px;
}
.sec02 .container .txtBox p {
  font-size: 18px;
}
.sec02 .wheel {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: conic-gradient(#ffcccb 0% 12.5%, #fff 12.5% 25%, #ffcccb 25% 37.5%, #fff 37.5% 50%, #ffcccb 50% 62.5%, #fff 62.5% 75%, #ffcccb 75% 87.5%, #fff 87.5% 100%);
  border: 12px solid #fbfbfb;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  /* margin: 0 auto; */
  position: relative;
  transition: transform 4s ease-out;
  overflow: hidden;
}
.sec02 .wheel .segment {
  visibility: hidden;
}
.sec02 .button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* margin-top: 20px; */
  font-size: 20px;
  width: 90px;
  height: 50px;
}
.sec02 .button:hover {
  background-color: #ff1493;
}
.sec02 .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.sec02 .modal .modal-content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  width: 550px;
  padding: 30px;
  animation: bounceIn 1s ease-out;
  align-items: center;
}
.sec02 .modal .modal-content img {
  width: 100%;
  object-fit: contain;
  border-bottom: 2px solid #eee;
}
.sec02 .modal .modal-content h2 {
  margin: 20px 0;
  font-size: 28px;
  color: #333;
}
.sec02 .modal .modal-content p {
  font-size: 18px;
  color: #666;
  margin: 0;
}
.sec02 .modal .modal-content .close-button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-size: 20px;
  width: 90px;
  height: 50px;
}
.sec02 .modal .modal-content .close-button:hover {
  background-color: #ff1493;
}
@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.fa-circle-arrow-up {
  color: #e9ecef;
  position: fixed;
  right: 40px;
  bottom: 90px;
  z-index: 9;
}
.kittyBtn {
  position: fixed;
  right: 22px;
  bottom: 140px;
  z-index: 9;
  width: 105px;
  height: 120px;
  object-fit: contain;
}


/* SEC03 */
.sec03 {
  width: 100%;
  height: 510px;
  display: flex;
  background: url(/hellokitty/image/main/sec03-1.png) lightgray 0px 0px / 100% 100% no-repeat;
  align-items: flex-start;
  justify-content: center;
  padding: 60px;
}
.sec03 button {
  display: flex;
  width: 190px;
  height: 45px;
  padding: 0px 15px;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* font-size: 22px; */
  color: #ffffff;
  background: none;
  font-weight: 500;
  position: relative;
}
.sec03 button span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}


a {
  text-decoration: none;
}






footer {
  padding: 20px;
}

.footer-content {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  padding: 20px;
  gap: 100px;
}

/* .footer-section {
  flex: 1 1 200px;
  margin: 10px;
} */

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: #333;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-media a {
  margin-right: 10px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
}